.isodir/
.ext4dir/
*.iso
*.img
*.mb
*.o
*.a

config.mk

/sys/bunnix
/target

# Binaries in /bin
# TODO: Can I be made more general please
/sbin/init/init
/sbin/mount/mount
/sbin/getty/getty
/vendor/dash/src/sh
/vendor/lok/awk
/bin/awk
